extends ../../layout/default.pug

include ../../mixin/search.pug
include ../../mixin/changeStatus.pug
include ../../mixin/pagination.pug
include ../../mixin/alert.pug
include ../../mixin/sort.pug
include ../../mixin/table-tree.pug

block main
  h1 Danh mục sản phẩm 
  .card.mb-3
    .card-header Danh sách sản phẩm
    .card-body
      .row 
        .col-8
        .col-4
          a(
            href=`${prefixAdmin}/category/create`
            class="btn btn-outline-success"
          ) + Thêm mới

    table(
        class="table table-sm table-hover"
        checkbox-multi
      )
        thead
          tr
            th: input(type="checkbox" name="checkall")
            th Hình ảnh
            th Tiêu đề 
            th Vị trí
            th Trạng thái
            th Hành động
        tbody
          +table-tree(records)


  script(src="/admin/js/product.js")
